[submodule "Kompakkt.Server"]
	path = Kompakkt.Server
	url = https://www.github.com/DH-Cologne/Kompakkt.Server
	branch = master
[submodule "Kompakkt.Repo"]
	path = Kompakkt.Repo
	url = https://www.github.com/DH-Cologne/Kompakkt.Repo
	branch = master
[submodule "Kompakkt.Viewer"]
	path = Kompakkt.Viewer
	url = https://www.github.com/DH-Cologne/Kompakkt.Viewer
	branch = master
